html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
  font: inherit;
  font-family: 'Roboto Condensed', sans-serif;

}

* {
  font-family: 'Roboto Condensed', sans-serif;

}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
	
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#about {
	background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;

}
.contenttitle {
	font-size: 5ch;
	color: black;
	position: absolute;
	bottom: 70%;
	padding: 2em;
	text-orientation: mixed;
	transform: rotate(10deg);

}
.content {
	font-size: 5ch;
	color: black;
	position: absolute;
	bottom: 5%;
	padding: 1em;
}
















